:root {
    --PrimaryColor: hsl(225, 50%, 48%);
    --SecondaryColor: hsl(180, 17%, 95%);
    --colorOne: hsl(15, 74%, 70%);
    --colorTwo: hsl(162, 49%, 42%);
    --HoverColor: hsl(225, 56%, 59%);
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(0, 0%, 12%);
    --textColor: hsl(240, 1%, 48%);
    --borderColor: hsl(0, 0%, 83%);
    --whiteColorDeam: hsl(0, 0%, 93%);
    --greyBg: hsl(0, 0%, 96%);
    --greyText: rgb(145, 145, 145);
    --inputColor: hsl(330, 12%, 97%);
    --boxShadow: box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    --transition: .4s ease-in-out;
}


.info {
    background: var(--SecondaryColor);

    .infoContainer {
        .tittleDiv {
            flex-direction: column;
            text-align: center;
            gap: 1.5rem;
            justify-content: center;
        }

        .cardsDiv {
            gap: 1.5rem;
            martop: 3rem;

            .singleCard {
                background: var(--whiteColor);
                padding: 3rem 2rem;
                border-radius: 10rem;
                gap: 1rem;
                text-align: center;
                margin: auto;
                height: 320px;
                width: 90%;
                max-width: 250px;

                .iconDiv {
                    justify-content: center;
                    margin: auto;
                    background: var(--PrimaryColor);
                    width: max-content;
                    height: 55px;
                    padding: 1rem;
                    border-radius: 3rem;

                    .icon {
                        color: var(--whiteColor);
                    }
                }

                .cardTittle {
                    color: var(--blackColor);
                    font-weight: 700;
                }

                .colorOne {
                    background: var(--colorOne);
                }

                .colorTwo {
                    background: var(--colorTwo);
                }
            }
        }
    }
}